docker/secrets/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info

# Java / Maven
Acadconf/target/

# IDE / système
.idea/
*.iml
.DS_Store
